@media (max-width: 576px) {
    .slider-area h2 {
        font-size: 40px;
        margin-bottom: 10px;
        line-height: normal;
    }
    .slider-area p {
        padding: 5px;
    }
    .slider-area .btn-large {
        padding: 11px 25px;
        font-size: 16px;
    }
    .slider-area .carousel-caption {
        padding-bottom: 85px;
    }
    .welcome {
        padding: 60px 0px;
    }
    .welcome .welcome-content h3 {
        font-size: 40px;
    }
    .welcome img {
        display: none;
    }
    .services {
        margin-bottom: 60px;
    }
    .services .service-heading h2 {
        font-size: 40px;
    }
    .services .service-heading .line {
        margin: 10px auto 40px auto;
    }
    .services .service-content .service {
        margin-bottom: 30px;
    }
    .services .service-content .service .service-text {
        margin-top: 18px;
    }
    .approach {
        margin-bottom: 60px;
    }
    .approach .approach-box a {
        left: 44%;
    }
    .approach p {
        font-size: 40px;
    }
    .approach .col-12 {
        margin-bottom: 40px;
    }
    .stories {
        padding: 30px 0px;
        margin-bottom: 60px;
    }
    .stories .story-heading h2 {
        font-size: 40px;
    }
    .stories .story-heading p {
        font-size: 21px;
    }
    .testimony-29101 .text {
        padding: 2rem 1rem;
    }
    .testimony-29101 .text blockquote p {
        margin: 0px;
    }
    .testimonial h4 {
        font-size: 40px;
        margin-bottom: 20px;
    }
    .consultation .consult .consult-content {
        padding: 2rem 1.5rem;
    }
    .consultation form {
        text-align: center;
    }
    .blogs {
        margin: 60px 0px;
    }
    .blogs .blog-heading h4 {
        font-size: 38px;
    }
    .blogs .blog-text {
        margin-bottom: 30px;
    }
    footer .left {
        margin-bottom: 30px;
    }
    footer .left p {
        margin-bottom: 17px;
    }
    footer .right ul {
        padding: 0px;
        margin: 0px;
    }
    footer .copyright p {
        font-size: 14px;
    }
    .page-banner {
        padding: 80px 0px;
    }
    .about {
        padding: 60px 0px;
    }
    .about #myCarousel {
        display: none;
    }
    .about .about-content {
        padding: 0px;
    }
    .about .about-content p {
        font-size: 16px;
    }
    .about .about-content h3 {
        font-size: 35px;
    }
    .about .about-content .line {
        margin: 15px 0px 30px;
    }
    .mission {
        padding-bottom: 60px;
    }
    .mission .mission-content {
        padding: 0px;
    }
    .mission .mission-content h3 {
        font-size: 40px;
    }
    .mission .mission-content .line {
        margin: 10px 0px 20px;
    }
    .mission .mission-content p {
        margin-bottom: 5px;
        font-size: 16px;
    }
    .mission img {
        margin-top: 20px;
    }
    .choose {
        padding-bottom: 60px;
    }
    .choose .choose-right {
        padding: 2rem 1rem;
    }
    .choose .choose-right .choose-content {
        margin-bottom: 23px;
    }
    .steps {
        padding-bottom: 60px;
    }
    .steps h4 {
        font-size: 33px;
    }
    .steps h4 i {
        font-size: 33px;
    }
    .steps h3 {
        font-size: 35px;
    }
    .steps .step-content {
        margin-bottom: 30px;
    }
    .steps .step-content .step-line {
        display: none;
    }
    .steps .step-content .step-img {
        margin-bottom: 20px;
    }
    .steps .step-content .step-img .step-img-text {
        top: 50%;
        width: 95%;
    }
    .steps .step-content .step-img .step-img-text h3 {
        font-size: 20px;
    }
    .steps .step-content .step-img .step-background {
        width: 95%;
        height: 95.6%;
    }
    .banner {
        margin-bottom: 60px;
        background-position: center;
    }
    .banner .banner-content {
        padding: 60px 0px;
    }
    .banner .banner-content h3 {
        font-size: 45px;
    }
    .banner .banner-content p {
        font-size: 25px;
    }
    .banner .banner-content p span {
        font-size: 25px;
    }
    .banner .banner-content a.btn {
        margin-top: 25px;
        padding: 15px 25px;
        font-size: 18px;
    }
    .transform {
        padding-bottom: 60px;
    }
    .transform .transform-heading h3 {
        font-size: 40px;
    }
    .transform .transform-heading .line {
        margin: 10px 0px 20px;
    }
    .transform .transform-content p {
        margin-bottom: 5px;
    }
    .transform .transform-form {
        margin-top: 20px;
    }
    .trainer {
        padding: 60px 0px;
    }
    .trainer .tariner-intro h2 {
        font-size: 40px;
    }
    .trainer .tariner-intro h2 span {
        font-size: 55px;
    }
    .trainer .tariner-intro p {
        line-height: 1.4;
    }
    .trainer .trainer-img {
        height: auto;
        margin-top: 30px;
    }
    .trainer .trainer-img img {
        height: 100%;
        bottom: 0px;
    }
    .help {
        margin-bottom: 60px;
        background-image: none;
    }
    .help .help-content {
        padding: 0px;
    }
    .help .help-content h3 {
        font-size: 40px;
    }
    .ftco-section {
        padding-bottom: 60px;
    }
    .ftco-section .heading-section h2 {
        display: none;
    }
    .ftco-section .heading-section p {
        font-size: 38px;
        color: #383838;
    }
    .approach-banner {
        margin-bottom: 60px;
    }
    .approach-banner .approach-content h3 {
        font-size: 40px;
    }
    .approach-banner .approach-content p {
        font-size: 18px;
        padding: 0px;
    }
    .approach-banner .approach-content a.btn {
        margin-top: 25px;
        padding: 15px 30px;
        font-size: 17px;
    }
    .testimonial {
        margin-bottom: 60px;
    }
    .approach-detail {
        padding: 60px 0px;
    }
    .approach-detail .approach-detail-heading h2 {
        font-size: 35px;
        margin-bottom: 20px;
        text-align: left;
    }
    .approach-detail .approach-detail-content img {
        margin: 20px 0px;
    }
    .approach-detail-banner {
        text-align: left;
    }
    .approach-detail-banner h2 {
        font-size: 35px;
    }
    .approach-detail-banner p {
        margin: 0px;
    }
    .approach-detail-banner a.btn {
        margin-top: 20px;
    }
    .blog-sec {
        padding: 60px 0px;
    }
    .blog-sec .blogs {
        margin: 0px 0px 20px 0px;
    }
    .blog-detail {
        padding: 60px 0px;
    }
    .blog-detail .blog-detail-heading h2 {
        font-size: 35px;
        margin-bottom: 20px;
        text-align: left;
    }
    .blog-detail-banner {
        text-align: left;
    }
    .blog-detail-banner h2 {
        font-size: 35px;
    }
    .blog-detail-banner p {
        margin: 0px;
    }
    .blog-detail-banner a.btn {
        margin-top: 20px;
    }
    .contact-form {
        margin-bottom: 60px;
    }
    .contact-form .consultation .consult .consult-content {
        padding: 2rem 1rem;
    }
    .contact-form .consultation .consult .consult-content h4 {
        margin-bottom: 10px;
    }
    .contact-form .consultation .consult .consult-content p {
        font-size: 12px;
    }
    .contact-form .consultation .consult .consult-content .line {
        margin: 20px auto 28px;
    }
    .location {
        margin-bottom: 60px;
    }
    .location .location-content {
        margin-bottom: 30px;
    }
    .story-detail {
        padding: 60px 0px;
    }
    .story-detail .story-detail-heading h2 {
        font-size: 35px;
        margin-bottom: 20px;
        text-align: left;
    }
    .story-detail .story-detail-content img {
        margin: 20px 0px;
    }
}


/*=================================================================================================================================*/

@media (min-width: 577px) and (max-width: 767px) {
    .slider-area h2 {
        font-size: 50px;
        margin-bottom: 10px;
    }
    .slider-area p {
        padding: 5px;
    }
    .slider-area .btn-large {
        padding: 11px 25px;
        font-size: 16px;
    }
    .slider-area .carousel-caption {
        padding-bottom: 85px;
    }
    .welcome {
        padding: 60px 0px;
    }
    .welcome .welcome-content h3 {
        font-size: 40px;
    }
    .services {
        margin-bottom: 60px;
    }
    .services .service-heading .line {
        margin: 10px auto 40px auto;
    }
    .services .service-content .service {
        margin-bottom: 30px;
    }
    .services .service-content .service .service-img i {
        padding: 60px;
    }
    .services .service-content .service .service-text {
        margin-top: 18px;
    }
    .approach {
        margin-bottom: 60px;
    }
    .approach p {
        font-size: 40px;
    }
    .approach .col-12 {
        margin-bottom: 40px;
    }
    .stories {
        padding: 30px 0px;
        margin-bottom: 60px;
    }
    .stories .story-heading h2 {
        font-size: 38px;
    }
    .stories .story-heading p {
        font-size: 21px;
    }
    .testimony-wrap {
        display: block !important;
        padding: 2rem 1rem;
    }
    .testimony-wrap .user-img {
        margin: 0px auto;
    }
    .testimony-wrap .text {
        width: 100%;
        padding: 0px !important;
    }
    .testimony-wrap .quote {
        top: -135px;
        left: 140px;
    }
    .testimony-29101 .text {
        padding: 2rem 1rem;
    }
    .testimony-29101 .text blockquote p {
        line-height: 1.3;
        margin: 7px;
    }
    .testimonial h4 {
        font-size: 40px;
        margin-bottom: 20px;
    }
    .consultation .consult .consult-content {
        padding: 2rem 1.5rem;
    }
    .consultation form {
        text-align: center;
    }
    .blogs {
        margin: 60px 0px;
    }
    .blogs .blog-heading h4 {
        font-size: 40px;
    }
    .blogs .blog-heading .line {
        margin: 5px 0px 40px !important;
    }
    .blogs .blog-text {
        margin-bottom: 30px;
    }
    footer .left {
        margin-bottom: 30px;
    }
    footer .left p {
        margin-bottom: 17px;
    }
    footer .right ul {
        padding: 0px;
        margin: 0px;
    }
    footer .copyright p {
        font-size: 14px;
    }
    .page-banner {
        padding: 80px 0px;
    }
    .about {
        padding: 60px 0px;
    }
    .about #myCarousel {
        display: none;
    }
    .about .about-content {
        padding: 0px;
    }
    .about .about-content h3 {
        font-size: 40px;
    }
    .about .about-content .line {
        margin: 15px 0px 30px;
    }
    .about .about-content p {
        font-size: 16px;
    }
    .mission {
        padding-bottom: 60px;
    }
    .mission .mission-content {
        padding: 0px;
    }
    .mission .mission-content h3 {
        font-size: 40px;
    }
    .mission .mission-content .line {
        margin: 10px 0px 20px;
    }
    .mission .mission-content p {
        margin-bottom: 5px;
        font-size: 16px;
    }
    .mission img {
        margin-top: 20px;
    }
    .choose {
        padding-bottom: 60px;
    }
    .choose .choose-right {
        padding: 2rem 1rem;
    }
    .choose .choose-right .choose-content {
        margin-bottom: 23px;
    }
    .steps {
        padding-bottom: 60px;
    }
    .steps h3 {
        font-size: 35px;
    }
    .steps .step-content {
        margin-bottom: 30px;
    }
    .steps .step-content .step-line {
        display: none;
    }
    .steps .step-content .step-img {
        margin-bottom: 20px;
    }
    .steps .step-content .step-img .step-img-text {
        top: 50%;
        width: 95%;
    }
    .steps .step-content .step-img .step-background {
        width: 89.5%;
        height: 90.6%;
        top: 8px;
    }
    .banner {
        margin-bottom: 60px;
        background-position: center;
    }
    .banner .banner-content {
        padding: 60px 0px;
    }
    .banner .banner-content h3 {
        font-size: 45px;
    }
    .banner .banner-content p {
        font-size: 25px;
    }
    .banner .banner-content p span {
        font-size: 25px;
    }
    .banner .banner-content a.btn {
        margin-top: 25px;
        padding: 15px 25px;
        font-size: 18px;
    }
    .transform {
        padding-bottom: 60px;
    }
    .transform .transform-heading .line {
        margin: 10px 0px 20px;
    }
    .transform .transform-heading h3 {
        font-size: 40px;
    }
    .transform .transform-content p {
        margin-bottom: 5px;
        font-size: 16px;
    }
    .transform .transform-form {
        margin-top: 20px;
    }
    .trainer {
        padding: 60px 0px;
    }
    .trainer .tariner-intro h2 {
        font-size: 40px;
    }
    .trainer .tariner-intro h2 span {
        font-size: 55px;
    }
    .trainer .tariner-intro p {
        line-height: 1.3;
    }
    .trainer .trainer-img {
        height: auto;
        margin-top: 30px;
    }
    .trainer .trainer-img img {
        height: 100%;
        bottom: 0px;
    }
    .help {
        margin-bottom: 60px;
        background-image: none;
    }
    .help .help-content {
        padding: 0px;
    }
    .help .help-content h3 {
        font-size: 40px;
    }
    .ftco-section {
        padding-bottom: 60px;
    }
    .ftco-section .heading-section h2 {
        display: none;
    }
    .ftco-section .heading-section p {
        font-size: 40px;
        color: #383838;
    }
    .blog-entry .text {
        padding: 1rem 0.5rem !important;
    }
    .approach-banner {
        margin-bottom: 60px;
    }
    .approach-banner .approach-content h3 {
        font-size: 40px;
    }
    .approach-banner .approach-content p {
        font-size: 20px;
        padding: 0px;
    }
    .approach-banner .approach-content a.btn {
        margin-top: 25px;
        padding: 15px 30px;
        font-size: 17px;
    }
    .testimonial {
        margin-bottom: 60px;
    }
    .approach-detail {
        padding: 60px 0px;
    }
    .approach-detail .approach-detail-heading h2 {
        font-size: 35px;
        margin-bottom: 20px;
        text-align: left;
    }
    .approach-detail .approach-detail-content img {
        margin: 20px 0px;
    }
    .approach-detail-banner {
        text-align: left;
    }
    .approach-detail-banner h2 {
        font-size: 35px;
    }
    .approach-detail-banner p {
        margin: 0px;
    }
    .approach-detail-banner a.btn {
        margin-top: 20px;
    }
    .blog-sec {
        padding: 60px 0px;
    }
    .blog-sec .blogs {
        margin: 0px 0px 20px 0px;
    }
    .blog-detail {
        padding: 60px 0px;
    }
    .blog-detail .blog-detail-heading h2 {
        font-size: 35px;
        margin-bottom: 20px;
        text-align: left;
    }
    .blog-detail-banner {
        text-align: left;
    }
    .blog-detail-banner h2 {
        font-size: 35px;
    }
    .blog-detail-banner p {
        margin: 0px;
    }
    .blog-detail-banner a.btn {
        margin-top: 20px;
    }
    .contact-form {
        margin-bottom: 60px;
    }
    .contact-form .consultation .consult .consult-content {
        padding: 2rem 1rem;
    }
    .contact-form .consultation .consult .consult-content h4 {
        margin-bottom: 10px;
    }
    .contact-form .consultation .consult .consult-content p {
        font-size: 12px;
    }
    .contact-form .consultation .consult .consult-content .line {
        margin: 20px auto 28px;
    }
    .location {
        margin-bottom: 60px;
    }
    .location .location-content {
        margin-bottom: 30px;
    }
    .story-detail {
        padding: 60px 0px;
    }
    .story-detail .story-detail-heading h2 {
        font-size: 35px;
        margin-bottom: 20px;
        text-align: left;
    }
    .story-detail .story-detail-content img {
        margin: 20px 0px;
    }
}


/*=================================================================================================================================*/


/*# sourceMappingURL=responsive.css.map */