@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css?family=Source+Serif+Pro:400,600&display=swap");
body {
    margin: 0px;
    padding: 0px;
}

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

header {
    background-color: transparent;
    -webkit-transition: all 0.8s ease-in-out;
    transition: all 0.8s ease-in-out;
}

header.custom.onscroll {
    background-color: #638A66;
    -webkit-transition: all 0.8s ease-in-out;
    transition: all 0.8s ease-in-out;
}

header.custom.onscroll .navbar .navbar-brand {
    font-size: 20px;
}

header.custom.onscroll .navbar .navbar-brand img {
    width: 200px;
    -webkit-transition: all 0.8s ease-in-out;
    transition: all 0.8s ease-in-out;
}

header.custom.onscroll ul li {
    font-size: 16px;
    -webkit-transition: all 0.8s ease-in-out;
    transition: all 0.8s ease-in-out;
}

header .navbar {
    padding: 1rem 0rem;
}

header .navbar.navbar-dark .navbar-nav .nav-link {
    color: #fff;
}

header .navbar .navbar-brand {
    color: #fff;
    font-size: 22px;
}

header .navbar .navbar-brand img {
    height: auto;
    width: 300px;
}

header .navbar ul li {
    padding: 0px 16px;
    font-size: 18px;
    font-family: 'Neue Haas Grotesk Display Pro 55 Roman';
    font-weight: normal;
    letter-spacing: 2px;
    text-transform: capitalize;
}

header .navbar a.btn {
    margin: 0px auto;
    padding: 15px 20px;
    text-transform: capitalize;
    font-size: 18px;
    background-color: #638A66;
    border-color: #638A66;
    border-radius: 0px;
}

.slider-area {
    font-family: "Neue Haas Grotesk Display Pro 55 Roman";
    /* Background images are set within the HTML using inline CSS, not here */
    /**
    * primary
    */
}

.slider-area .carousel-item.item {
    height: 90vh;
    min-height: 350px;
}

.slider-area .carousel-indicators {
    bottom: 15px;
}

.slider-area .carousel-indicators li {
    height: 13px;
    width: 13px;
    border: none;
    border-radius: 10px;
    margin: 0px 4px;
}

.slider-area .carousel,
.slider-area .item,
.slider-area .active {
    height: 100%;
}

.slider-area .carousel-inner {
    height: 100%;
    background: #000;
}

.slider-area .carousel-caption {
    padding-bottom: 130px;
}

.slider-area h2 {
    font-size: 60px;
    text-transform: capitalize;
    margin-bottom: 30px;
    line-height: 57px;
    border-width: 0px;
    padding: 0px;
    letter-spacing: 2px;
    font-family: "Orpheus";
}

.slider-area h2 span {
    -webkit-text-decoration: underline #fff;
    text-decoration: underline #fff;
}

.slider-area p {
    padding: 10px;
    margin: 0px;
    font-weight: 500;
    letter-spacing: 1.5px;
}

.slider-area .fill {
    width: 100%;
    height: 100%;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    -o-background-size: cover;
    opacity: 0.6;
}

.slider-area .btn-transparent {
    font-family: "Neue Haas Grotesk Display Pro 55 Roman";
    background: transparent;
    color: #fff;
    border: 2px solid #fff;
    text-transform: capitalize;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    letter-spacing: 1.5px;
}

.slider-area .btn-transparent:hover {
    background-color: #fff;
    border-color: #fff;
    color: #000;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.slider-area .btn-rounded {
    border-radius: 70px;
}

.slider-area .btn-large {
    padding: 11px 45px;
    font-size: 18px;
}

.welcome {
    padding: 100px 0px;
    font-family: "Neue Haas Grotesk Display Pro 55 Roman";
}

.welcome .welcome-content h4 {
    color: #638A66;
    text-transform: capitalize;
    font-family: "Orpheus";
    font-size: 35px;
    margin: 0px;
    font-weight: 400;
}

.welcome .welcome-content h4 i {
    color: #638A66;
    margin-right: 7px;
    font-size: 39px;
}

.welcome .welcome-content .line {
    height: 3px;
    margin: 15px 0px 30px;
    width: 45px;
    background-color: #638A66;
}

.welcome .welcome-content h3 {
    color: #638A66;
    text-transform: uppercase;
    font-size: 45px;
    font-family: "Orpheus";
}

.welcome .welcome-content p {
    font-family: "Neue Haas Grotesk Display Pro 55 Roman";
    color: #383838;
    font-size: 18px;
    letter-spacing: 1.5px;
}

.welcome .welcome-content h2 {
    text-transform: capitalize;
    font-family: "Orpheus";
    margin-bottom: 0.5rem;
}

.welcome .welcome-content h1 {
    line-height: 29px;
    margin-bottom: 40px;
}

.welcome .welcome-content h1 a {
    font-size: 32px;
    color: #383838;
    font-weight: 600;
}

.welcome .welcome-content a.btn {
    padding: 15px 20px;
    text-transform: capitalize;
    font-size: 18px;
    background-color: #638A66;
    border-color: #638A66;
    color: #fff;
    border-radius: 0px;
    letter-spacing: 1.5px;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.welcome .welcome-content a.btn:hover {
    background-color: transparent;
    border-color: #638A66;
    color: #638A66;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.welcome .welcome-content img {
    width: auto;
    height: auto;
}

.welcome img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: left;
    object-position: left;
}

.services {
    background-color: #fbf6e3c4;
    padding: 60px 0px;
    margin-bottom: 100px;
    font-family: "Neue Haas Grotesk Display Pro 55 Roman";
}

.services .service-heading h2 {
    color: #383838;
    text-transform: capitalize;
    font-family: "Orpheus";
    font-size: 45px;
    margin: 0px;
    font-weight: 400;
    letter-spacing: -1px;
}

.services .service-heading h2 span {
    color: #338553;
}

.services .service-heading p {
    color: #638A66;
    text-transform: uppercase;
    font-size: 45px;
    font-weight: 600;
    font-family: "Orpheus";
    margin: 0px;
}

.services .service-heading .line {
    height: 3px;
    margin: 10px auto 70px auto;
    width: 45px;
    background-color: #383838;
}

.services .service-content .service .service-img {
    margin: 0px auto;
}

.services .service-content .service .service-img i {
    color: #fff;
    font-size: 75px;
    border: 1px solid #638A66;
    border-radius: 50%;
    background-color: #638A66;
    padding: 80px;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.services .service-content .service .service-text {
    margin-top: 40px;
}

.services .service-content .service .service-text h4 {
    text-transform: capitalize;
    color: #638A66;
}

.services .service-content .service:hover .service-img i {
    color: #638A66;
    background-color: transparent;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.approach {
    margin-bottom: 125px;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    font-family: "Neue Haas Grotesk Display Pro 55 Roman";
}

.approach h2 {
    color: #383838;
    text-transform: capitalize;
    font-family: "Orpheus";
    font-size: 35px;
    margin: 0px;
    font-weight: 400;
    text-align: left;
    letter-spacing: -1px;
}

.approach h2 i {
    color: #638A66;
    margin-right: 7px;
    font-size: 39px;
}

.approach p {
    text-align: left;
    color: #383838;
    text-transform: uppercase;
    font-size: 45px;
    font-weight: 500;
    font-family: "Orpheus";
    margin: 0px;
}

.approach .line {
    height: 3px;
    margin: 10px 0px 50px;
    width: 45px;
    background-color: #383838;
}

.approach .approach-box {
    position: relative;
    z-index: 2;
    border: 1px solid lightgray;
    padding: 60px 20px 30px;
    height: 100%;
}

.approach .approach-box:hover a i {
    color: #638A66;
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
    -webkit-transition: all 0.8s ease;
    transition: all 0.8s ease;
}

.approach .approach-box a {
    position: absolute;
    bottom: -30px;
    left: 37%;
    border: 5px solid #fff;
}

.approach .approach-box a i {
    color: #638A66;
    background-color: #fff;
    font-size: 60px;
    cursor: pointer;
}

.approach .approach-box img {
    height: auto;
    width: 29%;
    margin-bottom: 19px;
}

.approach .approach-box h3 {
    font-family: "Orpheus";
    text-transform: capitalize;
    font-size: 19px;
    margin-bottom: 19px;
    font-weight: 700;
    color: #383838;
}

.approach .approach-box p {
    font-weight: 500;
    text-align: center;
    color: #383838;
    font-size: 16px;
    text-transform: none;
    margin-bottom: 25px;
    font-family: "Neue Haas Grotesk Display Pro 55 Roman";
    letter-spacing: 1.5px;
}

.stories {
    background-image: url("../images/story_background.jpg");
    background-attachment: fixed;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding-top: 60px;
    padding-bottom: 60px;
    margin-bottom: 100px;
    font-family: "Neue Haas Grotesk Display Pro 55 Roman";
}

.stories .story_background {
    position: absolute;
    content: '';
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.5;
    z-index: 1;
}

.stories .story-heading {
    position: relative;
    z-index: 2;
}

.stories .story-heading h2 {
    font-family: "Orpheus";
    text-transform: capitalize;
    color: #fff;
    font-size: 45px;
    margin-bottom: 22px;
}

.stories .story-heading p {
    text-align: center;
    font-family: "Neue Haas Grotesk Display Pro 55 Roman";
    text-transform: uppercase;
    color: #fff;
    font-size: 23px;
    font-weight: 700;
    margin-bottom: 45px;
    letter-spacing: 1.5px;
}

.blogs {
    margin: 100px 0px;
    font-family: "Neue Haas Grotesk Display Pro 55 Roman";
}

.blogs .blog-heading h4 {
    color: #383838;
    text-transform: uppercase;
    font-family: "Orpheus";
    font-size: 45px;
    margin: 0px;
    font-weight: 400;
}

.blogs .blog-heading h4 img {
    margin-right: 7px;
    height: 100%;
    width: 40px;
}

.blogs .blog-heading .line {
    height: 3px;
    margin: 5px 0px 35px;
    width: 45px;
    background-color: #383838;
}

.blogs .blog-heading h3 {
    color: #638A66;
    text-transform: uppercase;
    font-size: 45px;
    font-family: "Orpheus";
}

.blogs .blog-img img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

.blogs .blog-content {
    background-color: #fff;
    border: 1px solid #e0e0e0;
    border-radius: 3px;
    position: relative;
    top: 0px;
    padding: 30px 30px 30px;
    margin: -128px 20px 0px;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.blogs .blog-content:hover {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.blogs .blog-content h3 {
    font-size: 18px;
    font-weight: 500;
    color: #111111;
    line-height: 24px;
    margin-bottom: 15px;
    letter-spacing: 0.5px;
}

.blogs .blog-content h3 a {
    color: #111111;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.blogs .blog-content h3:hover a {
    color: #638A66;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.blogs .blog-content ul {
    padding: 0px;
    padding-bottom: 12px;
    border-bottom: 1px solid #e0e0e0;
    margin-bottom: 12px;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
}

.blogs .blog-content ul li {
    list-style-type: none;
    color: #666666;
    margin-right: 33px;
    font-size: 14px;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
}

.blogs .blog-content ul li img {
    height: 100%;
    width: 20px;
    margin-right: 5px;
}

.blogs .blog-content p {
    color: #777777;
    font-weight: 400;
    letter-spacing: 1.5px;
    font-size: 15px;
}

.blog-sec {
    padding: 100px 0px;
}

.blog-sec .blogs {
    margin: 0px 0px 50px 0px;
}

.location {
    margin-bottom: 100px;
    font-family: "Neue Haas Grotesk Display Pro 55 Roman";
}

.location .location-content i {
    font-size: 70px;
    color: #fff;
    padding: 55px;
    background-color: #338553;
    border: 1px solid #338553;
    border-radius: 50%;
    margin-bottom: 15px;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.location .location-content h3 {
    color: #383838;
    text-transform: capitalize;
    font-size: 40px;
    font-family: "Orpheus";
}

.location .location-content a {
    color: #383838;
    letter-spacing: 1.5px;
    font-size: 22px;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    font-weight: 600;
}

.location .location-content a:hover {
    color: #338553;
    text-decoration: none;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.location .location-content p {
    color: #383838;
    letter-spacing: 1.5px;
    font-weight: 600;
}

.location .location-content:hover i {
    color: #338553;
    background-color: transparent;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.contact-form {
    margin-bottom: 100px;
    margin-top: -80px;
}

.contact-form .consultation .consult .consult-content {
    background: none;
    background-color: #fff;
    border-bottom: 3px solid #338553;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 5px grey;
    box-shadow: 0px 0px 5px grey;
    padding: 55px 100px;
    text-align: center;
}

.contact-form .consultation .consult .consult-content h4 {
    text-align: center;
}

.contact-form .consultation .consult .consult-content p {
    text-align: center;
}

.contact-form .consultation .consult .consult-content .line {
    margin: 20px auto 50px;
}

.consultation {
    font-family: "Neue Haas Grotesk Display Pro 55 Roman";
}

.consultation .consult .row .col12,
.consultation .consult .row .col-md-6 {
    padding: 0px;
}

.consultation .consult img {
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

.consultation .consult .consult-content {
    background-image: url("../images/story_background.jpg");
    background-attachment: fixed;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding: 55px 45px;
}

.consultation .consult .consult-content .consultant-background {
    position: absolute;
    content: '';
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: #faf5e0;
    opacity: 0.9;
    z-index: 1;
}

.consultation .consult .consult-content h4 {
    color: #383838;
    text-transform: capitalize;
    font-family: "Orpheus";
    font-size: 32px;
    margin-bottom: 5px;
    font-weight: 400;
    position: relative;
    z-index: 2;
}

.consultation .consult .consult-content .line {
    height: 3px;
    margin: 20px 0px 30px;
    width: 45px;
    background-color: #383838;
    position: relative;
    z-index: 2;
}

.consultation .consult .consult-content p {
    color: #383838;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    font-family: "Neue Haas Grotesk Display Pro 55 Roman";
    margin: 0px;
    position: relative;
    z-index: 2;
    letter-spacing: 1.5px;
}

.consultation .consult .consult-content form {
    position: relative;
    z-index: 2;
    letter-spacing: 1.5px;
}

.consultation .consult .consult-content form .custom-select {
    height: calc(1.5em + .75rem + 8px);
    padding: 8px 12px;
    font-size: 0.9rem;
    border: 0px;
    border-radius: 5px;
    background-color: transparent;
    color: #000;
}

.consultation .consult .consult-content form select :first-child {
    color: #495057;
}

.consultation .consult .consult-content form .row .col12,
.consultation .consult .consult-content form .row .col-lg-6 {
    padding: 0px 15px;
}

.consultation .consult .consult-content form ::-webkit-input-placeholder {
    -webkit-transition: opacity 0.3s linear;
    transition: opacity 0.3s linear;
    color: #495057 !important;
}

.consultation .consult .consult-content form :-ms-input-placeholder {
    -webkit-transition: opacity 0.3s linear;
    transition: opacity 0.3s linear;
    color: #495057 !important;
}

.consultation .consult .consult-content form ::-ms-input-placeholder {
    -webkit-transition: opacity 0.3s linear;
    transition: opacity 0.3s linear;
    color: #495057 !important;
}

.consultation .consult .consult-content form ::placeholder {
    -webkit-transition: opacity 0.3s linear;
    transition: opacity 0.3s linear;
    color: #495057 !important;
}

.consultation .consult .consult-content form :focus::-webkit-input-placeholder {
    opacity: 0;
}

.consultation .consult .consult-content form :focus:-ms-input-placeholder {
    opacity: 0;
}

.consultation .consult .consult-content form :focus::-ms-input-placeholder {
    opacity: 0;
}

.consultation .consult .consult-content form :focus::placeholder {
    opacity: 0;
}

.consultation .consult .consult-content form .input-group {
    border-bottom: 1px solid #000;
}

.consultation .consult .consult-content form .input-group textarea.form-control {
    height: auto !important;
}

.consultation .consult .consult-content form .input-group input:focus,
.consultation .consult .consult-content form .input-group textarea:focus,
.consultation .consult .consult-content form .input-group select:focus {
    outline: 0px !important;
    -webkit-appearance: none;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

.consultation .consult .consult-content form .input-group-prepend {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    margin: 12px 0px;
}

.consultation .consult .consult-content form .form-control {
    height: calc(1.5em + .75rem + 8px);
    padding: 8px 12px;
    font-size: 0.9rem;
    border: 0px;
    border-radius: 5px;
    background-color: transparent;
    color: #000;
}

.consultation .consult .consult-content form a.btn {
    padding: 15px 20px;
    text-transform: capitalize;
    font-size: 18px;
    background-color: #638A66;
    border-color: #638A66;
    color: #fff;
    border-radius: 0px;
    margin-top: 14px;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.consultation .consult .consult-content form a.btn:hover {
    background-color: transparent;
    border-color: #638A66;
    color: #638A66;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.testimonial {
    margin-bottom: 100px;
    font-family: "Neue Haas Grotesk Display Pro 55 Roman";
}

.testimonial h4 {
    font-family: "Orpheus";
    text-transform: capitalize;
    position: relative;
    z-index: 2;
    color: #383838;
    font-size: 45px;
    margin-bottom: 45px;
    text-align: center;
}

.testimonial h4 span {
    text-decoration: underline;
}

.banner {
    background-image: url("../images/book.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    background-attachment: fixed;
    margin-bottom: 100px;
    position: relative;
    font-family: "Neue Haas Grotesk Display Pro 55 Roman";
}

.banner .banner-overlay {
    content: '';
    position: absolute;
    background-color: #338553;
    opacity: 0.5;
    z-index: 1;
    height: 100%;
    width: 100%;
    top: 0px;
}

.banner .banner-content {
    position: relative;
    z-index: 2;
    padding: 100px 0px;
    text-align: center;
}

.banner .banner-content h3 {
    font-family: "Orpheus";
    text-transform: uppercase;
    font-size: 52px;
    letter-spacing: 2px;
    color: #fff;
    margin-bottom: 5px;
}

.banner .banner-content p {
    color: #fff;
    font-weight: 400;
    font-size: 30px;
    margin: 0px;
    letter-spacing: 1.5px;
}

.banner .banner-content p span {
    text-transform: uppercase;
    font-size: 32px;
    font-weight: 600;
}

.banner .banner-content a.btn {
    padding: 15px 40px;
    text-transform: capitalize;
    font-size: 20px;
    background-color: transparent;
    border-color: #fff;
    border-radius: 36px;
    margin-top: 55px;
    border-width: 3px;
    font-weight: 600;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    letter-spacing: 1.5px;
}

.banner .banner-content a.btn:hover {
    color: #000;
    background-color: #fff;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

footer {
    background-color: #638A66;
    padding-top: 60px;
    font-family: "Neue Haas Grotesk Display Pro 55 Roman";
}

footer .left h4 {
    font-family: "Orpheus";
    font-size: 27px;
    color: #fff;
}

footer .left p {
    color: #fff;
    font-size: 17px;
    font-weight: 400;
    margin-bottom: 25px;
    letter-spacing: 1.5px;
}

footer .left .social-links ul {
    padding: 0px;
}

footer .left .social-links ul li {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    border: 1px solid #fff;
    list-style-type: none;
    padding: 10px 15px;
    margin-right: 14px;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

footer .left .social-links ul li i {
    color: #fff;
    font-size: 22px;
}

footer .left .social-links ul li:hover {
    background-color: #338553;
    border-color: #338553;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

footer .right {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
}

footer .right .right-heading {
    margin-right: 25px;
}

footer .right .right-heading h3 {
    font-size: 37px;
    font-weight: 700;
    line-height: 42px;
    margin: 0px;
    color: #fff;
    text-shadow: 2px 1px 2px black;
    font-family: "Orpheus";
}

footer .right .right-heading h3 span {
    font-family: "Roboto", sans-serif;
    font-size: 33px;
    font-weight: 400;
    color: #fff;
    text-shadow: none;
}

footer .right .right-heading .line {
    height: 7px;
    margin-top: 21px;
    width: 60px;
    background-color: #fff;
}

footer .right ul {
    padding: 0px;
}

footer .right ul li {
    list-style-type: none;
    display: block;
    margin-bottom: 3px;
    letter-spacing: 1.5px;
}

footer .right ul li a {
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

footer .right ul li a:hover {
    color: #338553;
    text-decoration: underline;
    font-size: 20px;
    font-weight: 700;
    text-shadow: 1px 1px 2px black;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

footer hr {
    width: 75%;
    background-color: #fff;
}

footer .copyright p {
    color: #fff;
    font-weight: 400;
    margin-bottom: 10px;
    letter-spacing: 1.5px;
}

footer .copyright p a {
    color: #fff;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

footer .copyright p a:hover {
    color: #338553;
    text-decoration: none;
    font-size: 18px;
    font-weight: bolder;
    text-shadow: 1px 1px 2px black;
    letter-spacing: 0.5px;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.page-banner {
    padding: 110px 0px 80px;
    background-image: url("../images/slider/image-4.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    font-family: "Neue Haas Grotesk Display Pro 55 Roman";
}

.page-banner .page-background {
    position: absolute;
    content: '';
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: #338553;
    opacity: 0.5;
    z-index: 1;
}

.page-banner .page-content {
    position: relative;
    z-index: 2;
    text-align: center;
}

.page-banner .page-content h2 {
    font-family: "Orpheus";
    font-size: 50px;
    font-weight: 400;
    color: #fff;
    text-transform: capitalize;
    margin-bottom: 16px;
}

.page-banner .page-content ul {
    padding: 0px;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    color: #fff;
    margin: 0px;
}

.page-banner .page-content ul li {
    list-style-type: none;
    text-transform: capitalize;
    font-weight: 600;
    letter-spacing: 1.5px;
}

.page-banner .page-content ul li a {
    color: #fff;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.page-banner .page-content ul li a:hover {
    color: #638A66;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.page-banner .page-content ul li a i {
    margin: 0px 6px;
    font-size: 17px;
}

.about {
    padding: 100px 0px;
    font-family: "Neue Haas Grotesk Display Pro 55 Roman";
}

.about .about-content {
    padding: 10px 12px 20px 25px;
}

.about .about-content h4 {
    color: #383838;
    text-transform: capitalize;
    font-family: "Orpheus";
    font-size: 35px;
    margin: 0px;
    font-weight: 400;
}

.about .about-content h4 i {
    color: #638A66;
    margin-right: 7px;
    font-size: 39px;
}

.about .about-content .line {
    height: 3px;
    margin: 30px 0px;
    width: 45px;
    background-color: #383838;
}

.about .about-content h3 {
    color: #638A66;
    text-transform: uppercase;
    font-size: 45px;
    font-family: "Orpheus";
}

.about .about-content p {
    color: gray;
    font-size: 18px;
    letter-spacing: 1.5px;
}

.about .about-content a.btn {
    padding: 15px 35px;
    text-transform: capitalize;
    font-size: 18px;
    background-color: #638A66;
    border-color: #638A66;
    color: #fff;
    border-radius: 0px;
    letter-spacing: 1.5px;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.about .about-content a.btn:hover {
    background-color: transparent;
    border-color: #638A66;
    color: #638A66;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.about .carousel-indicators {
    bottom: 15px;
}

.about .carousel-indicators li {
    height: 13px;
    width: 13px;
    border: none;
    border-radius: 10px;
    margin: 0px 4px;
    background-color: #000;
}

.about .carousel,
.about .item,
.about .active {
    height: 100%;
}

.about .carousel-inner {
    height: 100%;
    background: #000;
}

.about .fill {
    width: 100%;
    height: 100%;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    -o-background-size: cover;
}

.mission {
    padding-bottom: 100px;
    font-family: "Neue Haas Grotesk Display Pro 55 Roman";
}

.mission .mission-content {
    padding: 10px 20px;
}

.mission .mission-content h3 {
    color: #383838;
    text-transform: capitalize;
    font-family: "Orpheus";
    font-size: 45px;
    margin: 0px;
    font-weight: 400;
}

.mission .mission-content .line {
    height: 3px;
    margin: 10px 0px 30px;
    width: 45px;
    background-color: #383838;
}

.mission .mission-content p {
    color: gray;
    font-size: 18px;
    letter-spacing: 1.5px;
}

.mission img {
    height: 100%;
    width: 100%;
}

.choose {
    padding-bottom: 100px;
    position: relative;
    font-family: "Neue Haas Grotesk Display Pro 55 Roman";
}

.choose .col-12,
.choose .col-lg-5,
.choose .col-lg-7 {
    padding: 0px;
}

.choose img {
    height: 100%;
    width: 100%;
}

.choose .choose-heading {
    position: absolute;
    top: 22px;
    right: 0px;
    padding: 15px 22px;
    background-color: #638A66;
}

.choose .choose-heading h4 {
    letter-spacing: 1.5px;
    color: #fff;
    text-transform: capitalize;
    font-size: 25px;
    margin: 0px;
    font-weight: 600;
    letter-spacing: 2px;
}

.choose .choose-right {
    background-image: url("../images/story_background.jpg");
    background-attachment: fixed;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding: 70px 180px 70px 70px;
}

.choose .choose-right .choose-background {
    position: absolute;
    content: '';
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: #338553;
    opacity: 0.9;
    z-index: 1;
}

.choose .choose-right .choose-content {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    position: relative;
    z-index: 2;
    margin-bottom: 40px;
}

.choose .choose-right .choose-content img {
    height: 100%;
    width: 80px;
    margin-right: 6px;
}

.choose .choose-right .choose-content .choose-text h3 {
    font-family: "Orpheus";
    text-transform: capitalize;
    font-size: 25px;
    font-weight: 500;
    color: #fff;
    margin-bottom: 6px;
}

.choose .choose-right .choose-content .choose-text h3 a {
    color: #fff;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.choose .choose-right .choose-content .choose-text h3 a:hover {
    color: #638A66;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    text-decoration: none;
}

.choose .choose-right .choose-content .choose-text p {
    font-weight: 400;
    font-size: 16px;
    color: #fff;
    text-transform: none;
    margin: 0px;
    letter-spacing: 1.5px;
}

.steps {
    padding-bottom: 100px;
    font-family: "Neue Haas Grotesk Display Pro 55 Roman";
}

.steps h4 {
    color: #383838;
    text-transform: capitalize;
    font-family: "Orpheus";
    font-size: 35px;
    margin: 0px;
    font-weight: 400;
    text-align: left;
    letter-spacing: -1px;
}

.steps h4 i {
    color: #638A66;
    margin-right: 10px;
    font-size: 39px;
}

.steps h3 {
    text-align: left;
    color: #638A66;
    text-transform: uppercase;
    font-size: 45px;
    font-weight: 600;
    font-family: "Orpheus";
    margin: 0px;
}

.steps .line {
    height: 3px;
    margin: 10px 0px 50px;
    width: 45px;
    background-color: #383838;
}

.steps .step-content {
    padding: 0px 25px;
    position: relative;
}

.steps .step-content .step-line {
    content: "";
    background-color: gray;
    height: 1%;
    width: 19%;
    top: 34%;
    left: -39px;
    position: absolute;
}

.steps .step-content .step-img {
    position: relative;
    margin-bottom: 30px;
    padding: 10px;
    border: 1px dashed gray;
    border-radius: 50%;
    text-align: center;
}

.steps .step-content .step-img img {
    height: 100%;
    width: 100%;
}

.steps .step-content .step-img .step-background {
    border-radius: 50%;
    position: absolute;
    content: '';
    top: 10px;
    width: 90.5%;
    height: 90.6%;
    opacity: 1;
    z-index: 1;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.steps .step-content .step-img:hover .step-background {
    opacity: 0;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.steps .step-content .step-img .step-img-text {
    position: absolute;
    z-index: 2;
    top: 43%;
    height: 10%;
    width: 91%;
}

.steps .step-content .step-img .step-img-text h3 {
    text-align: center;
    color: #fff;
    text-transform: capitalize;
    font-size: 16px;
    font-weight: 600;
    font-family: "Neue Haas Grotesk Display Pro 55 Roman";
    margin: 0px;
    letter-spacing: 1.5px;
}

.steps .step-content .step-text {
    text-align: center;
}

.steps .step-content .step-text p {
    color: gray;
    font-weight: 400;
    font-size: 17px;
    margin: 0px;
    letter-spacing: 1.5px;
}

.team {
    padding-bottom: 100px;
}

.team .team-heading {
    margin-bottom: 45px;
}

.team .team-heading h3 {
    color: #383838;
    text-transform: capitalize;
    font-family: "Roboto", sans-serif;
    font-size: 35px;
    margin: 0px;
    font-weight: 400;
}

.team .team-heading .line {
    height: 3px;
    margin: 10px 0px 15px;
    width: 45px;
    background-color: #383838;
}

.team .team-content .team-img {
    position: relative;
    margin-bottom: 15px;
    text-align: center;
}

.team .team-content .team-img img {
    height: 35vh;
    width: 100%;
    -o-object-position: top;
    object-position: top;
    -o-object-fit: cover;
    object-fit: cover;
    -webkit-box-shadow: 0px 0px 5px grey;
    box-shadow: 0px 0px 5px grey;
    border: 1px solid #fff;
}

.team .team-content .team-img .team-overlay {
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    top: 0px;
    background-color: #638A66;
    opacity: 0.8;
    z-index: 1;
    display: none;
    -webkit-transition: all 0.8s ease;
    transition: all 0.8s ease;
}

.team .team-content .team-img:hover .team-overlay {
    display: block;
    -webkit-transition: all 0.8s ease;
    transition: all 0.8s ease;
}

.team .team-content .team-img:hover .social-links {
    display: block;
    bottom: 17px;
    -webkit-transition: all 0.8s ease;
    transition: all 0.8s ease;
}

.team .team-content .team-img .social-links {
    position: absolute;
    content: "";
    z-index: 3;
    bottom: 40px;
    right: 16%;
    display: none;
    -webkit-transition: all 0.8s ease;
    transition: all 0.8s ease;
}

.team .team-content .team-img .social-links ul {
    padding: 0px;
    margin: 0px;
}

.team .team-content .team-img .social-links ul li {
    list-style-type: none;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    padding-right: 14px;
}

.team .team-content .team-img .social-links ul li i {
    color: #fff;
    font-size: 23px;
    -webkit-transition: all 0.8s ease;
    transition: all 0.8s ease;
}

.team .team-content .team-img .social-links ul li i:hover {
    color: #338553;
    -webkit-transition: all 0.8s ease;
    transition: all 0.8s ease;
}

.team .team-content .team-text {
    text-align: center;
}

.team .team-content .team-text h4 {
    font-family: "Poppins", sans-serif;
    text-transform: capitalize;
    font-weight: 600;
    margin-bottom: 3px;
}

.team .team-content .team-text p {
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    text-transform: capitalize;
}

.transform {
    padding-bottom: 100px;
    font-family: "Neue Haas Grotesk Display Pro 55 Roman";
}

.transform .transform-heading h3 {
    color: #383838;
    text-transform: capitalize;
    font-family: "Orpheus";
    font-size: 45px;
    margin: 0px;
    font-weight: 400;
}

.transform .transform-heading h3 span {
    color: #638A66;
}

.transform .transform-heading .line {
    height: 3px;
    margin: 10px 0px 10px;
    width: 45px;
    background-color: #383838;
}

.transform .transform-content p {
    color: gray;
    font-size: 17px;
    letter-spacing: 1.5px;
}

.transform .transform-form {
    padding: 20px 28px;
    border: 1px solid lightgray;
}

.transform .transform-form h4 {
    color: #383838;
    text-transform: capitalize;
    font-family: "Orpheus";
    font-size: 25px;
    margin-bottom: 8px;
    font-weight: 600;
    letter-spacing: 0.5px;
}

.transform .transform-form h4 span {
    color: #638A66;
}

.transform .transform-form .line {
    height: 2px;
    margin: 10px 0px 30px;
    width: 56px;
    background-color: #383838;
}

.transform .transform-form p {
    color: gray;
    font-size: 14px;
    letter-spacing: 0.5px;
    margin: 0px;
    font-weight: 500;
    letter-spacing: 1.5px;
}

.transform .transform-form form {
    letter-spacing: 1.5px;
}

.transform .transform-form form ::-webkit-input-placeholder {
    -webkit-transition: opacity 0.3s linear;
    transition: opacity 0.3s linear;
    color: #495057 !important;
}

.transform .transform-form form :-ms-input-placeholder {
    -webkit-transition: opacity 0.3s linear;
    transition: opacity 0.3s linear;
    color: #495057 !important;
}

.transform .transform-form form ::-ms-input-placeholder {
    -webkit-transition: opacity 0.3s linear;
    transition: opacity 0.3s linear;
    color: #495057 !important;
}

.transform .transform-form form ::placeholder {
    -webkit-transition: opacity 0.3s linear;
    transition: opacity 0.3s linear;
    color: #495057 !important;
}

.transform .transform-form form :focus::-webkit-input-placeholder {
    opacity: 0;
}

.transform .transform-form form :focus:-ms-input-placeholder {
    opacity: 0;
}

.transform .transform-form form :focus::-ms-input-placeholder {
    opacity: 0;
}

.transform .transform-form form :focus::placeholder {
    opacity: 0;
}

.transform .transform-form form .input-group {
    border-bottom: 1px solid #000;
}

.transform .transform-form form .input-group textarea.form-control {
    height: auto !important;
}

.transform .transform-form form .input-group input:focus,
.transform .transform-form form .input-group textarea:focus {
    outline: 0px !important;
    -webkit-appearance: none;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

.transform .transform-form form .input-group-prepend {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    margin: 12px 0px;
}

.transform .transform-form form .form-control {
    height: calc(1.5em + .75rem + 8px);
    padding: 8px 12px;
    font-size: 0.9rem;
    border: 0px;
    border-radius: 5px;
}

.transform .transform-form form a.btn {
    padding: 11px 27px;
    text-transform: capitalize;
    font-size: 18px;
    background-color: #638A66;
    border-color: #638A66;
    color: #fff;
    border-radius: 0px;
    margin-top: 14px;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.transform .transform-form form a.btn:hover {
    background-color: transparent;
    border-color: #638A66;
    color: #638A66;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.trainer {
    padding: 100px 0px;
    font-family: "Neue Haas Grotesk Display Pro 55 Roman";
}

.trainer .tariner-intro h2 {
    font-family: "Orpheus";
    font-size: 45px;
    margin-bottom: 11px;
    text-transform: capitalize;
}

.trainer .tariner-intro h2 span {
    color: #638A66;
    font-size: 77px;
    letter-spacing: -6px;
    font-weight: 700;
    text-transform: uppercase;
}

.trainer .tariner-intro p {
    color: gray;
    font-size: 16px;
    line-height: 31px;
    margin-bottom: 27px;
    letter-spacing: 1.5px;
}

.trainer .tariner-intro a.btn {
    padding: 15px 30px;
    text-transform: capitalize;
    font-size: 18px;
    background-color: #638A66;
    border-color: #638A66;
    color: #fff;
    border-radius: 0px;
    letter-spacing: 1.5px;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.trainer .tariner-intro a.btn:hover {
    background-color: transparent;
    border-color: #638A66;
    color: #638A66;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.trainer .trainer-img {
    height: 310px;
}

.trainer .trainer-img img {
    height: 475px;
    -o-object-fit: cover;
    object-fit: cover;
    width: 100%;
    -o-object-position: right;
    object-position: right;
    position: relative;
    bottom: 65px;
}

.help {
    margin-bottom: 100px;
    background-image: url("../images/horizontal-shot-joyful-young-woman-with-glasses-posing-against-white-wall.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    font-family: "Neue Haas Grotesk Display Pro 55 Roman";
}

.help .help-content {
    padding: 50px 0px;
}

.help .help-content h3 {
    color: #383838;
    text-transform: capitalize;
    font-family: "Orpheus";
    font-size: 45px;
    margin: 0px;
    font-weight: 600;
}

.help .help-content .line {
    height: 3px;
    margin: 10px 0px 30px;
    width: 45px;
    background-color: #383838;
}

.help .help-content .help-text {
    margin-bottom: 15px;
}

.help .help-content .help-text h2 {
    text-transform: uppercase;
    font-family: "Orpheus";
    margin-bottom: 0px;
    font-weight: 600;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.help .help-content .help-text h2 i {
    color: #338553;
    margin-right: 5px;
    font-size: 33px;
}

.help .help-content .help-text p {
    padding-left: 40px;
    color: gray;
    margin: 0px;
    letter-spacing: 1.5px;
}

.approach-banner {
    background-image: url("../images/holding hands.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    margin-bottom: 100px;
    position: relative;
    font-family: "Neue Haas Grotesk Display Pro 55 Roman";
}

.approach-banner .approach-overlay {
    content: '';
    position: absolute;
    background-color: #338553;
    opacity: 0.5;
    z-index: 1;
    height: 100%;
    width: 100%;
    top: 0px;
}

.approach-banner .approach-content {
    position: relative;
    z-index: 2;
    padding: 50px 0px;
}

.approach-banner .approach-content h3 {
    font-family: "Orpheus";
    text-transform: uppercase;
    font-size: 45px;
    color: #fff;
    margin-bottom: 5px;
}

.approach-banner .approach-content p {
    font-family: "Neue Haas Grotesk Display Pro 55 Roman";
    color: #fff;
    font-weight: 300;
    font-size: 23px;
    letter-spacing: 0.5px;
    margin: 0px;
    padding-right: 80px;
    letter-spacing: 1.5px;
}

.approach-banner .approach-content a.btn {
    padding: 15px 40px;
    letter-spacing: 1.5px;
    text-transform: capitalize;
    font-size: 20px;
    background-color: transparent;
    border-color: #fff;
    border-radius: 36px;
    margin-top: 45px;
    border-width: 2px;
    font-weight: 500;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.approach-banner .approach-content a.btn:hover {
    color: #000;
    background-color: #fff;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.ftco-section {
    font-family: "Neue Haas Grotesk Display Pro 55 Roman";
}

.ftco-section .heading-section h2 {
    color: #383838;
    text-transform: capitalize;
    font-family: "Orpheus";
    font-size: 35px;
    margin: 0px;
    font-weight: 400;
    text-align: left;
    letter-spacing: -1px;
}

.ftco-section .heading-section h2 i {
    color: #638A66;
    margin-right: 7px;
    font-size: 39px;
}

.ftco-section .heading-section p {
    text-align: left;
    color: #638A66;
    text-transform: uppercase;
    font-size: 45px;
    font-weight: 600;
    font-family: "Orpheus";
    margin: 0px;
}

.ftco-section .heading-section .line {
    height: 3px;
    margin: 10px 0px 50px;
    width: 45px;
    background-color: #383838;
}

.approach-detail {
    padding: 100px 0px 70px;
    font-family: "Neue Haas Grotesk Display Pro 55 Roman";
}

.approach-detail .approach-detail-content img {
    height: 300px;
    width: 100%;
    border-radius: 5px;
    -o-object-fit: cover;
    object-fit: cover;
    margin: 35px 0px;
    -o-object-position: top;
    object-position: top;
}

.approach-detail .approach-detail-content p {
    color: gray;
    letter-spacing: 1.5px;
}

.approach-detail .approach-detail-heading h2 {
    font-family: "Orpheus";
    text-transform: capitalize;
    position: relative;
    z-index: 2;
    color: #383838;
    font-size: 45px;
    margin-bottom: 35px;
    text-align: center;
}

.approach-detail .approach-detail-heading h2 span {
    text-decoration: underline;
}

.approach-detail-banner {
    text-align: right;
    color: #338553;
    background-color: #e0f2ed;
    padding: 25px 0px;
    font-family: "Neue Haas Grotesk Display Pro 55 Roman";
}

.approach-detail-banner h2 {
    font-family: "Orpheus";
    text-transform: uppercase;
    font-size: 44px;
    margin-bottom: 5px;
    text-align: left;
}

.approach-detail-banner a.btn {
    padding: 15px 30px;
    text-transform: capitalize;
    font-size: 18px;
    background-color: #638A66;
    border-color: #638A66;
    color: #fff;
    border-radius: 0px;
    margin: 32px 0px;
    letter-spacing: 1.5px;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.approach-detail-banner a.btn:hover {
    background-color: transparent;
    border-color: #638A66;
    color: #638A66;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.approach-detail-banner p {
    font-weight: 500;
    text-align: left;
    letter-spacing: 1.5px;
}

.blog-detail {
    padding: 100px 0px 70px;
    font-family: "Neue Haas Grotesk Display Pro 55 Roman";
}

.blog-detail p {
    color: gray;
    letter-spacing: 1.5px;
}

.blog-detail .blog-detail-content {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
}

.blog-detail .blog-detail-content img {
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    padding: 20px 0px;
}

.blog-detail .blog-detail-heading h2 {
    font-family: "Orpheus";
    text-transform: capitalize;
    position: relative;
    z-index: 2;
    color: #383838;
    font-size: 45px;
    margin-bottom: 35px;
    text-align: center;
}

.blog-detail .blog-detail-heading h2 span {
    text-decoration: underline;
}

.blog-detail-banner {
    text-align: right;
    color: #338553;
    background-color: #e0f2ed;
    padding: 25px 0px;
    font-family: "Neue Haas Grotesk Display Pro 55 Roman";
}

.blog-detail-banner h2 {
    font-family: "Orpheus";
    text-transform: uppercase;
    font-size: 44px;
    margin-bottom: 5px;
    text-align: left;
}

.blog-detail-banner a.btn {
    padding: 15px 30px;
    text-transform: capitalize;
    font-size: 18px;
    background-color: #638A66;
    border-color: #638A66;
    color: #fff;
    border-radius: 0px;
    margin: 32px 0px;
    letter-spacing: 1.5px;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.blog-detail-banner a.btn:hover {
    background-color: transparent;
    border-color: #638A66;
    color: #638A66;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.blog-detail-banner p {
    font-weight: 500;
    text-align: left;
    letter-spacing: 1.5px;
}

.story-detail {
    padding: 100px 0px 70px;
    font-family: "Neue Haas Grotesk Display Pro 55 Roman";
}

.story-detail .story-detail-content img {
    height: 300px;
    width: 100%;
    border-radius: 5px;
    -o-object-fit: cover;
    object-fit: cover;
    margin: 35px 0px;
    -o-object-position: top;
    object-position: top;
}

.story-detail .story-detail-content p {
    color: gray;
    letter-spacing: 1.5px;
}

.story-detail .story-detail-heading h2 {
    font-family: "Orpheus";
    text-transform: capitalize;
    position: relative;
    z-index: 2;
    color: #383838;
    font-size: 45px;
    margin-bottom: 35px;
    text-align: center;
}

.story-detail .story-detail-heading h2 span {
    text-decoration: underline;
}


/*# sourceMappingURL=style.css.map */